body{

    background: #7728DB;
    font-family:'Comic Sans MS';
    
}

.container_for_title{
    font-family:'Comic Sans MS', Regular;
    font-size: 250%; 
    color: #6e6562;
    background-color: whitesmoke;
    width: 175;
    height: 50;
    margin-left: 45%;
    margin-top: 0.5em;
} 
.wrapper_table{
    margin-top: 5em;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
}

.wrapper{
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    margin-top: 1.5em;
}

.imageBlock{
    
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    height: var(--image-h);
    width: auto;
    grid-template-rows: repeat(2, auto);

}


.labelImage{
    /* outline: dashed 1px rgb(255, 255, 255);  */
    display: inline-block; 
    width: 100%;
    margin: 0;
    background-color: whitesmoke;
   
}

.labelImageContent{
    font-size:xx-large;
    text-align:center;
    padding: 0.2em;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 290%;
}


.imageContentHolder1{
    
    background-color: transparent;
    display: grid;
    margin-left: 3%;
}

.imageContentHolder2{
    
    background-color: transparent;
    display: grid;
    margin-right: 3%;
    
}
.imageContent {
    margin: 0 auto;
    display: block; 
    height: var(--image-h);
}

.labelContent {

    font-size:xx-large;
    text-align:center;
    font-style: italic;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 190%;


}
.price{

    text-align:center;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 230%;
    

}

.imageBlock2{
    
    position: relative;
    display: grid;
    justify-items: center;
    justify-content: center;
    height: var(--image-h);
    width: auto;
    grid-template-rows: repeat(2, auto);

}

.tableHeader {
    width:100%;
    min-width: 10%;
    margin-bottom: 1em;
    margin-top: 1em;
}
.centericon{
    height: 1.3em; 
    align-content: center;
}

.sizes{
    width: 400;
    height: auto;
}

.labelResize{
    padding-left: 17%;
    padding-right: 17%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    margin-top: 2em;
    margin-bottom: 3em;
}
.labelResize2{
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 2.5em;
}

.finally_labelImage{
    /* outline: dashed 1px rgb(255, 255, 255);  */
    display: inline-block; 
    width: 100%;
    margin: 0;
    background-color: #E1E1E1;
   
}