body{

    background: #7728DB;
    font-family:'Comic Sans MS';
    
}

.container_for_title{
    font-family:'Comic Sans MS', Regular;
    font-size: 250%; 
    color: #6e6562;
    background-color: whitesmoke;
    width: 375;
    height: 75;
    margin-left: 45%;
    margin-top: 0.5em;
}
.wrapper{
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    margin-top: 1.5em;
}

.labelImage{
    /* outline: dashed 1px rgb(255, 255, 255);  */
    display: inline-block; 
    width: 550;
    margin: 42%;
    background-color: whitesmoke;
    margin-top: 1em;
    margin-bottom: 1em;

}

.labelContent {

    font-size:xx-large;
    text-align:center;
    font-style: italic;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 190%;


}
.price{

    text-align:center;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 230%;
    

}

.labelImageContent{
   
    text-align:center;
    padding: 0.2em;
    color:#6e6562;
    font-family:'Comic Sans MS', Regular;
    font-size: 250%;
}

.labelResize{
    margin-top: 2em;
    margin-bottom: 3em;
    padding-left: 17%;
    padding-right: 17%;
    display: grid;
    flex-direction: row;
    align-items:stretch;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    
}
.finally_labelImage{
    /* outline: dashed 1px rgb(255, 255, 255);  */
    display: inline-block; 
    width: 100%;
    margin: 0;
    background-color: #E1E1E1;
   
}